.progress-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 70%;

  &__circle {
    border: solid 3.3px lightseagreen;
    border-radius: 50%;
    left: 1px;
    height: 15px;
    position: relative;
    width: 15px;
    z-index: 1;
  }

  &__bar-section {
    align-items: flex-end;
    display: flex;
    height: 6px;
    position: relative;
    width: 100%;

    &__bar {
      background-color: lightseagreen;
      border-radius: 0px 3px 3px 0px;
      display: flex;
      height: 6px;
      position: absolute;
      width: 100%;
    }
  }
}
